<div>
    <img src="" alt="" [src]="fondo" class="fondaco">
</div>
<div class="container-fluid" style="padding-top: 1%;">
    <button type="button" class="btn btn-danger mx-auto " style="z-index: 2;
position: relative;" routerLink="/inicio"><i class="fa-sharp fa-solid fa-delete-left"></i></button>
</div>

<div class="mostrar">
    <div class="col-12" style="color: white; background-color: black; opacity: 75%; margin: auto;">
        <div style="padding: 30px;">
            <h1 class="mostrarCentrado" style="color: white;">Reglas</h1>
            <strong>Objetivo:</strong>
            <p>Ganarle al Croupier obteniendo el puntaje más cercano a 21.</p>
            <Strong>Explicación:</Strong>
            <p>El jugador recibirá dos cartas en sus casillas, y la banca recibirá dos cartas (una de ellas dada vuelta, la otra visible). Cuando se te indique, puedes pedir cartas para tu mano para incrementar el valor total. Cuando hayas terminado de agregar
                cartas a tu mano, la banca completará su mano. Cuando el valor total de tu mano es mas de 21, esto se conoce como "bancarrota", y automáticamente perderás. Ganaras Cuando tengas el puntaje mas cercano a 21 en comparacion con el Croupier.
            </p>
            <strong>Valor de cartas:</strong>
            <p>Los valores que toman las cartas son los siguientes: de la carta dos(2) hasta la carta diez(10), el valor de la carta es su propio número. Las figuras valen diez(10). Los Ases pueden valer uno(1) u once(11) y será el jugador quien decida qué
                valor toman los Ases en cada momento de la partida.</p>
            <strong>Extra:</strong>
            <p>No es para sorprenderse que la mejor mano en el blackjack se conozca como "blackjack". La mejor mano del juego paga más que cualquier otra combinación (hasta 3 a 2 de tu apuesta, dependiendo de la variante que estés jugando) y está compuesta
                por un as y cualquier carta con un valor de diez, incluyendo cualquier jota, reina, rey o diez. El blackjack debe repartirse en las dos primeras cartas para ser válido y es invencible. Sin embargo, puede empatarse si la banca también tiene
                blackjack.</p>
        </div>
    </div>
</div>