<main id="hero">
    <div class="d-grid gap-2 col-6 mx-auto mostrar">
        <h1 style="color:rgb(255, 255, 255); text-align: center;">BlackJack</h1>
        <button type="button" class="btn btn-warning mx-auto " style="width: 50%;" routerLink="/mesa"><i class="fa-solid fa-play"></i></button>
        <button type="button" class="btn btn-warning mx-auto " style="width: 80%;" routerLink="/reglas"> REGLAS <i class="fa-solid fa-book"></i></button>
        <button type="button " class="btn btn-warning mx-auto" (click)="alertaMantenimiento()"> TABLA DE PUNTOS <i class="fa-solid fa-list"></i></button>
    </div>
    <video [src]="video" autoplay [muted]="true " loop>
        Problemas al cargar el video
    </video>
</main>