<div class="container">
    <div class="juego">
        <div class="col-12" style="text-align:center;">
            <h1>Jugador - Puntaje: {{this.score}}</h1>
            <hr>
            <div class="row">
                <div class="col-2 mt-15" *ngFor="let carta of cartasJugador">
                    <app-carta class="col-2" [carta]="carta"></app-carta>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-4 center">
                    <div type="button" class="btn btn-primary" (click)="solicitarNuevaCarta('juegoUnico')">{{ juegoIniciado == false ? 'Iniciar partida' : 'Solicitar Nueva Carta' }}</div>
                </div>
                <div class="col-4 center">
                    <div type="button" class="btn btn-warning" (click)="retirarseDelJuego()">Retirarse de la partida</div>
                </div>
                <div class="col-4 center">
                    <div type="button" class="btn btn-success" (click)="startNewGame()">Iniciar Nueva Partida</div>
                </div>
            </div>
        </div>
    </div>
    <div class="juegoSeparado" *ngIf="juegoSeparado.length>0">
        <div class="col-12" style="text-align:center;">
            <h1>Jugador - Puntaje: {{this.score}}</h1>
            <hr>
            <div class="row">
                <div class="col-2 mt-15" *ngFor="let carta of juegoSeparado">
                    <app-carta class="col-2" [carta]="carta"></app-carta>
                </div>
            </div>
            <div class="row mt-15">
                <div class="col-4 center">
                    <div type="button" class="btn btn-primary" (click)="solicitarNuevaCarta('juegoSeparado')">'Solicitar Nueva Carta'</div>
                </div>
                <div class="col-4 center">
                    <div type="button" class="btn btn-warning" (click)="retirarseDelJuego()">Retirarse de la partida</div>
                </div>
            </div>
        </div>
    </div>
</div>