<div class="container">
    <div class="col-12">
        <h1>Jugador - Puntaje: {{this.score}}</h1>
        <hr>
        <div class="row">
            <div class="col-2 mt-15" *ngFor="let carta of cartasJugador"  >
                <app-carta class="col-2" [carta]="carta"></app-carta>
            </div>
        </div>
        <div class="row mt-15">
            <div class="col-4 center">
                <button type="button" class="btn btn-primary" (click)="solicitarNuevaCarta(1)" [disabled]="this.score == 0">Solicitar Nueva Carta</button>
            </div>
            <div class="col-4 center">
                <button type="button" class="btn btn-warning" (click)="retirarseDelJuego()" [disabled]="this.score == 0">Retirarse de la partida</button>
            </div>
            <div class="col-4 center">
                <button type="button" class="btn btn-success" (click)="startNewGame()" [disabled]="this.score > 0">Iniciar Nueva Partida</button>
            </div>
        </div>
    </div>
</div>
     
